<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <!-- <html class="no-js"> --> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <base href="/" >
        <link rel="shortcut icon" href="/favicon.ico" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{{ title }}</title>

        <meta name="description" content="App.">
        <meta name="viewport" content="width=device-width">

        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Inconsolata&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Housing Price Predictor</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li id="home" class="active"><a href="/">Home</a></li>
                  <li id="about" class="inactive"><a href="about">How It Works</a></li>
                  </li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {{{body}}}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/lib/jquery.min.js"><\/script>')</script>
        <script src="js/main.min.js" charset="UTF-8"></script>

    </body>
</html>
